<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="centercontact">
  <br>
  <br>
  <h1>
    Contact the Creators of Vacations United
  </h1>

  <br>
  <br>
  <a href=" https://dforbeck.github.io/"><img src="././assets/github.png" alt="Github" class="logos"></a>
  <a href="https://www.linkedin.com/in/debbiedforbeck"><img src="././assets/linkedIn.png" alt="LinkedIn"
      class="logos"></a>
  <h2>Debbie Forbeck</h2>
  <br>
  <br>
  <br>
  <a href="https://maxwellgriffin.github.io/Portfolio/"><img src="././assets/github.png" alt="Github" class="logos"></a>
  <a href="https://www.linkedin.com/in/maxwell-griffin-dotnet/"><img src="././assets/linkedIn.png" alt="LinkedIn"
      class="logos"> </a>
  <h2>Max Griffin</h2>
  <br>
  <br>
  <br>
  <a href="https://JRiley08.github.io"><img src="././assets/github.png" alt="Github" class="logos"></a>
  <a href="https://www.linkedin.com/in/joshua-riley-53a864180/"><img src="././assets/linkedIn.png" alt="LinkedIn"
      class="logos"> </a>
 <h2>Joshua Riley</h2> 

</div>
