<h1>Index</h1>
<a mat-raised-button color="primary" routerLink="/group/create">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
    <ng-container matColumnDef="TripType">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"> Trip Type</mat-header-cell>
      <mat-cell *matCellDef="let Group"> {{Group.TripType}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="GuestCount">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"> Guest Count </mat-header-cell>
      <mat-cell *matCellDef="let Group"> {{Group.GuestCount}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"> Name </mat-header-cell>
      <mat-cell *matCellDef="let Group"> {{Group.Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let Group">
        <a routerLink="/group/edit/{{Group.GroupID}}">
          <i mat-icon class="material-icons">edit</i>
        </a>
        <a routerLink="/group/delete/{{Group.GroupID}}">
          <i mat-icon class="material-icons">delete</i>
        </a>
        <a routerLink="/group/details/{{Group.GroupID}}">
          <i mat-icon class="material-icons">library_books</i>
        </a>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>