<p>
  <h1>
    Vacations United:
    <hr>
  </h1>
      <!--Background text-->
      <h2>
          About:
      </h2>
      <p>
        Vacations United is a fictional application created by the VacationExpress Team from the Eleven Fifty February 2019 .Net Cohort.  It features the use of ASP .NET Web Application, MVC, Web API C#, Razor, Angular, Postman, HTML and CSS.
        <br>
        <br>
        It is a travel website focused on helping you travel across the United States.  The vacation choices will include landmarks/interesting sites, restaurants, and entertainment options.  Geographically, Vacations United, focuses on the following regions: West, Midwest, Northeast, Southeast, and SouthWest of the United States.  The vacations are available for families, couples, Women's Getaways, Men's Getaways, and  Individuals.
      </p>








</p>
