<h1>
  Edit an Itinerary
</h1>
<hr>

<div *ngIf="itinerary">
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editItineraryForm">
<div>
  <div>
      <mat-form-field>
          <input matInput placeholder="Itinerary Name" formControlName="ItineraryName" type="text" required [value]="itinerary.ItineraryName"/>
        </mat-form-field>
  </div>
  
</div>
<button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
</form>
</div>

<a mat-button routerLink="/itinerary">Back to List</a>