<div class="textcolor">
  <h1>Delete</h1>
  <h4>Are you sure you want to delete this?</h4>

  <hr>
  <div *ngIf="group">
    <div>
      <label for="Name">Name</label>
      <span>{{group.Name}}</span>
    </div>
    <div>
      <label for="TripType">TripType</label>
      <span>{{group.TripType}}</span>
    </div>
    <div>
      <label for="GuestCount">GuestCount</label>
      <span>{{group.GuestCount}}</span>
    </div>
  </div>

  <button class="textcolor" mat-button color="warn" (click)="onDelete()">Delete</button>
  <button class="textcolor" mat-button color="primary" routerLink="/groups">Back to List</button>

</div>