<h1>Index</h1>
<a mat-raised-button color="primary">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="Region">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-row>
      <mat-cell *matCellDef="let Destination"> {{Destination.Region}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="TripType">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-row>
      <mat-cell *matCellDef="let Destination"> {{Destination.TripType}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-row>
      <mat-cell *matCellDef="let Destination"> {{Destination.Price}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-row>
      <mat-cell *matCellDef="let Destination"> {{Destination.Name}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="MinGuests">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-row>
      <mat-cell *matCellDef="let Destination"> {{Destination.MinGuests}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="MaxGuests">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-row>
      <mat-cell *matCellDef="let Destination"> {{Destination.MaxGuests}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Location">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-row>
      <mat-cell *matCellDef="let Destination"> {{Destination.Location}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-row>
      <mat-cell *matCellDef="let Destination">
        <i mat-icon class="material-icons">edit</i>
        <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>

